
/* reset css*/


/**/

/* continuando */

#header{

    background: #262161;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 999999;
}
#header a{
    color: #fff !important;
    
}

#nav ul li{

    margin-right: 22px;
    font-weight: bold;

}
#nav ul li:last-child{
    margin-right: 0;
}

