@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}
ul, a, a:hover{
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Quicksand';
}

/* css reutilizavel */

.inner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container{

    width: 1150px;
    margin: 0 auto;

}
.mt{
    margin-top: 22px;
}
.posts{
    max-width: 1150px;
    width: 1150px;
}
.posts .post-item{
    max-width: 20%;
}
.posts img{
    max-width: 100%;
}

/**/